.bottom:after, #top:after, #top .header-wrapper:after, #top .header-wrapper .header-wrapper-row:after {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  text-decoration: none; }

ul {
  list-style: none; }

a:link, a:visited {
  color: #000; }
a:hover {
  color: #52BAB4; }

.wrapper {
  text-align: center;
  width: 90%;
  margin: 0 auto; }
  .wrapper #portfolio {
    font-size: 1.5em; }
  .wrapper h3 {
    font-size: 1.17em; }
  .wrapper p {
    font-size: 1em; }
  .wrapper section {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .wrapper section {
        vertical-align: top;
        display: inline-block;
        width: 49%;
        padding: 0 7px;
        margin: 20px 0;
        float: inherit; } }
    @media (min-width: 1024px) {
      .wrapper section {
        width: 32%;
        max-width: 1200px;
        margin: 0 auto; } }
    .wrapper section img {
      width: 100%;
      text-align: center;
      margin: 0 auto; }
    .wrapper section p {
      width: 80%;
      margin: 0 auto; }

#portfolio {
  margin-top: 40px; }

@media (min-width: 1024px) {
  .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto; } }

footer {
  background: #f8f8f8;
  text-align: center; }
  footer #contact {
    font-size: 1.5em;
    padding-top: 55px;
    padding-bottom: 30px; }
  footer #contact-message {
    font-size: 1em;
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: 480px; }
  footer #phone, footer #email {
    font-size: 1em; }

#b-name {
  float: left;
  font-size: 1.17em; }

#b-btt {
  float: right; }
  @media (min-width: 768px) {
    #b-btt {
      display: none; } }

.bottom {
  margin: 0 auto;
  width: 90%;
  border-top: 2px solid #f8f8f8; }

#bottom-nav {
  display: none; }
  @media (min-width: 768px) {
    #bottom-nav {
      display: inline-block;
      float: right; } }
  @media (min-width: 768px) {
    #bottom-nav ul {
      list-style: none;
      display: inline-block; } }
  @media (min-width: 768px) {
    #bottom-nav li {
      display: inline-block;
      margin-left: 30px; } }

#email {
  padding-bottom: 60px; }

@media (min-width: 1024px) {
  #top .header-wrapper {
    max-width: 1200px;
    margin: 0 auto; } }

.top-name {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  font-size: 2em; }

header {
  background: #f8f8f8; }

.main-nav {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  width: 100%; }
  @media (min-width: 1024px) {
    .main-nav {
      float: right;
      display: inline-block;
      width: auto;
      margin-top: 40px;
      margin-right: 23px; } }
  .main-nav h2 {
    display: inline-block;
    width: 90%;
    padding: 10px 0;
    text-align: center;
    margin: 3px 0;
    background: #fff;
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .main-nav h2 {
        background: none; } }
    @media (min-width: 1024px) {
      .main-nav h2 {
        margin: 0;
        padding: 0; } }
  .main-nav ul {
    padding: 0; }
    @media (min-width: 768px) {
      .main-nav ul {
        display: inline-block;
        margin: 0 20px; } }
    @media (min-width: 1024px) {
      .main-nav ul {
        margin: 0;
        padding: 0;
        display: inline-block; } }
  @media (min-width: 768px) {
    .main-nav li {
      display: inline-block;
      margin: 0 20px; } }
  @media (min-width: 1024px) {
    .main-nav li {
      display: inline-block; } }

.profile-pic {
  display: block;
  width: 70%;
  margin: auto; }
  @media (min-width: 768px) {
    .profile-pic {
      display: inline-block;
      width: 30%;
      float: right;
      margin-right: 25px;
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .profile-pic {
      margin-right: 35px; } }

@media (min-width: 1024px) {
  .top-name {
    float: left;
    margin: 20px 0 0 35px; } }

#intro-text {
  text-align: center;
  display: block;
  padding: 30px 10px;
  font-size: 1em; }
  @media (min-width: 768px) {
    #intro-text {
      text-align: left;
      display: inline-block;
      width: 60%;
      float: left;
      margin-left: 25px;
      vertical-align: top;
      margin-top: 0;
      padding-top: 0; } }

/*# sourceMappingURL=application.css.map */
