* {
    box-sizing: border-box;
    font-family: $primary-font;
    text-decoration: none;
}



ul {
    list-style: none;
}

a{
    &:link,
    &:visited {
        color: $link-default;
    }

    &:hover {
        color: $text-highlight;
    }

}
