// Colors by name
$fountain-blue : #52BAB4;
$alabaster     : #f8f8f8;
$black         : #000;

// Colors by function
$text-highlight    : $fountain-blue;
$header-background : $alabaster;
$footer-background : $alabaster;
$primary-text      : $black;
$link-default      : $black;
