// Colors by name
$fountain-blue : #52BAB4;
$alabaster     : #f8f8f8;
$black         : #000;
$white         : #fff;

// Colors by function
$text-highlight    : $fountain-blue;
$header-background : $alabaster;
$footer-background : $alabaster;
$primary-text      : $black;
$link-default      : $black;

// Fonts
$primary-font : 'Varela Round', sans-serif;

// Font sizes
$fs-student-name-top       : 2em;
$fs-main-nav               : 1.5em;
$fs-section-title          : 1.5em;
$fs-subsection-title       : 1.17em;
$fs-intro-text             : 1em;
$fs-subsection-description : 1em;
$fs-closing-message        : 1em;
$fs-contact-info           : 1em;
$fs-student-name-bottom    : 1.17em;
